Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
my_string = "Humayan Al Rosid"
my_list = [15, 'python', 45.2]
my_float = 5.6
my_tuple = (5, 'data science', 1.2)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [ ]:
var1 = ''   
print(type(var1))    # string

var2 = '[ DS , ML , Python]'
print(type(var2))    # string

var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3))    # list

var4 = 1
print(type(var4))    # int

Q3. Explain the use of the following operators using an example:

(i) /       is used for divison operation. It returns the quotient of the division operator. 
            For example, 5 / 2 = 2.5
    
(ii) %      is used for modulus or remainder operation. 
            For example, 5 % 2 = 1
            
(iii) //    is used for integer division operation. It converts the quotient to the nearest integer. 
            For example, 5 // 2 = 2

(iv) **     is used for exponentiation operation. It raises the first operand to the power of the second operand and returns the result.  
            For example  5 ** 2 = 25

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [ ]:
my_list = [1, 'hello', 3.14, True, [1, 2, 3], {'key': 'value'}, None, (1, 2), 'world', False]

for x in my_list:
    print(x)
    print(type(x))

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [5]:
a = 100
b = 5

count = 0
while a % b == 0:
    count += 1
    a /= b
print(count)

2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

for x in my_list:
    if x % 3 == 0:
        print('Yes')
    else:
        print('No')

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable : Mutable data types are those data types that can be changed after they are created. 

For example, if I have a list of 5 boys of different heights. And if I want to change one of those heights on the list, I can do it. It means the list is mutable. Lists, Sets, and Dictionaries are mutable data types.

Immutable : Immutable data types are those data types that can't be changed after they are created. 

For example, if I have a variable named name that stores my name as a string, if I try to modify it, it will give me an error message. Integers, floats, strings, and tuples are immutable data types.