# MySql

### Q1. What is a database? Differentiate between SQL and NoSQL databases.

Databases are structured collections of data that can be accessed, manipulated, and managed in an easy manner.

SQL (Structured Query Language) databases are relational databases that store data in tables. A SQL database is best used for applications that require complex querying and analysis, like financial applications, CRMs, and ERPs.

NoSQL (Not Only SQL) databases are non-relational databases that do not store data in tables like SQL databases. A NoSQL database is designed to store unstructured data and provide high performance and scalability. Social media platforms, e-commerce sites, and gaming applications fall into this category.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL used to define and manage database structure. A DDL statement is used to create, modify, and delete database objects.

##### CREATE:

This statement creates a new database object such as a table. For example, the following SQL statement creates a new table called "customers":

In [ ]:
CREATE TABLE customers (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(50)
);

##### DROP: 

This statement deletes a database object. For example, the following SQL statement deletes the "customers" table:

In [ ]:
DROP TABLE customers;

##### ALTER: 

This statement modifies the structure of an existing database object. For example, the following SQL statement adds a new column called "phone" to the "customers" table:

In [ ]:
ALTER TABLE customers ADD phone VARCHAR(20);

##### TRUNCATE: 

This statement deletes all data from a table, but does not remove the table structure itself. For example, the following SQL statement deletes all data from the "customers" table:

In [ ]:
TRUNCATE TABLE customers;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL used to manipulate data within a database. DML statements insert, update, and delete data from database tables.

##### INSERT: 

This statement inserts new data into a table. For example, the following SQL statement inserts a new row into the "customers" table:

In [ ]:
INSERT INTO customers (id, name, email) VALUES (1, 'Humayan', 'humayan@humayan.me');

The above statement inserts a new row into the "customers" table with the values 1, 'Humayan', and 'humayan@humayan.me' in the ID, name, and email columns, respectively.

##### UPDATE: 

This statement updates existing data in a table. For example, the following SQL statement updates the email address of a customer with the id of 1:

In [ ]:
UPDATE customers SET email = 'hello@humayan.me' WHERE id = 1;

The above statement updates the customer's email address with the id of 1 to 'hello@humayan.me'.

##### DELETE: 

This statement deletes data from a table. For example, the following SQL statement deletes a customer with an ID of 1:

In [ ]:
DELETE FROM customers WHERE id = 1;

The DELETE statement deletes the row from the "customers" table where the ID column is equal to 1.

### Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL used to retrieve data from a database. DQL statements query the database and retrieve specific data from one or more tables.

##### SELECT: 

This statement retrieves data from one or more tables. For example, the following SQL statement retrieves all customer names and email addresses from the "customers" table:

In [ ]:
SELECT name, email FROM customers;

The above SELECT statement retrieves the name and email columns from the "customers" table and returns the results as a table.

### Q5. Explain Primary Key and Foreign Key.

#### Primary Key:

In a database table, a primary key is a column or set of columns that uniquely identifies each row. A primary key ensures that each row in a table can be accessed easily and quickly.

For example, in a "customers" table, the "customer_id" column can be used as the primary key. This ensures that each customer has a unique identifier.

#### Foreign Key:

A foreign key is a column or a set of columns in a database table that reference a primary key from another table. It ensures that the foreign key column(s) of the referenced table match the data in its primary key column(s).

For example, in an "orders" table, the "customer_id" column can be used as a foreign key to reference the "id" column in the "customers" table. This ensures that each order is associated with a specific customer.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

db = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)

mycur = db.cursor()
mycur.execute("SELECT * FROM customers")
for i in mycur.fetchall():
    print(i)
db.close()

The **cursor()** method creates a cursor object used to execute SQL queries and fetch results. The cursor object allows us to interact with the database and execute SQL queries.

The **execute()** method executes a SQL query on the database. It takes a SQL query as a parameter and runs it in the database. The execute() method can execute any SQL query, including SELECT, INSERT, UPDATE, and DELETE queries.

### Q7. Give the order of execution of SQL clauses in an SQL query.

In an SQL query, SQL clauses are executed in the following order:

* FROM: This clause specifies the table or tables from which the data is retrieved.

* JOIN: This clause joins two or more tables together based on a common field.

* WHERE: This clause filters the data based on one or more conditions.

* GROUP BY: This clause groups the data based on one or more columns.

* HAVING: This clause filters the grouped data based on one or more conditions.

* SELECT: This clause selects the columns included in the query results.

* DISTINCT: This clause removes duplicates from query results.

* ORDER BY: This clause sorts query results based on one or more columns.

* LIMIT: This clause limits the number of rows returned by the query.